{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<div>
  {{ with .Params.appDescription }}
    {{ . | markdownify }}
  {{ else }}
    {{ with .Params.summary }}
      {{ . }}
    {{ end }}
  {{ end }}
</div>
{{ if eq .Params.appType "addon" }}
  {{ $appPages := where .Site.RegularPages "Section" "applications" }}
  {{ if ne .Site .Sites.First }}
    {{ $enAppPages := where .Sites.First.RegularPages "Section" "applications" }}
    {{ $appPages = $appPages | lang.Merge $enAppPages }}
  {{ end }}
  {{ $extendees := where $appPages "Params.d_app_id" "in" .Params.extends }}
  {{ if gt (len $extendees) 0 }}
<p>
  {{ i18n "extendees" }} {{ range $index, $extendee := $extendees }}
    {{ if gt $index 0 }} | {{ end }}
    {{ $icon := $extendee.Params.icon }}
    {{ $name := $extendee.Params.name }}
    {{ $link := $extendee.RelPermalink }}
    {{ partial "icon_n_name" (dict "type" "app" "icon" $icon "size" "16" "name" $name "link" $link) }}
  {{ end }}
</p>
  {{ end }}
{{ end }}
{{ partial "app_downloads" . }}
