{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "main" }}
<main class="container">
  <h2>{{ .Title }}</h2>
  <p>{{ i18n "platforms-desc" }}</p>
  {{ range .Data.Pages }}
    <h3>{{ partial "term_title.html" . }}</h3>
  {{ end }}
</main>
{{ end }}
